@use "./side-navbar-media.scss" as media;

.nav {
  @include media.media;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--bg-color);
  height: 100vh;
  width: 275px;
  margin-top: 67px;
  box-shadow: var(--navbar-box-shadow-color) 2px 2px 4px;

  & > ul {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: stretch;
    justify-content: flex-start;

    & > li {
      text-align: left;
      font-style: none;
      z-index: 10;
      padding: 15px 20px;

      p {
        font-size: 13px;
        margin-bottom: 10px;
        color: var(--contrast-font-color);
      }

      & > div {
        position: relative;
        margin-left: 10px;
        border-left: 1px solid var(--navbar-box-shadow-color);

        .sectionsContainer {
          display: grid;
          animation: fadeOut 500ms forwards;
          transition: grid-template-rows 500ms;

          @keyframes fadeOut {
            from {
              grid-template-rows: 0fr;
            }
            to {
              grid-template-rows: 1fr;
            }
          }

          .sections {
            overflow: hidden;

            a {
              padding-left: 40px;
              &::after {
                display: none;
              }
            }
          }
        }

        #currentSection {
          background: var(--current-section);
          border-radius: 5px;
          height: var(--height);
          width: calc(100% + 20px);
          position: absolute;
          top: 28px;
          left: -10px;
          transition-property: transform, height;
          transition-duration: 350ms;
          transform: translateY(var(--translateY));

          &[data-active="false"] {
            display: none;
          }
          &[data-active="true"] {
            --height: 28px;
            --translateY: -28px;
          }
        }

        a {
          position: relative;
          padding: 2.5px;
          padding-left: 15px;
          font-size: 14px;
          margin: 2px 0px;
          display: block;
          color: var(--light-font-color);
          text-decoration: none;
          transition: color 0.3s ease;

          &.active {
            &::after {
              content: "";
              top: 0;
              left: 0;
              position: absolute;
              width: 100%;
              height: 100%;
              border-left: 1px solid red;
            }
            &[data-show-background="true"]::before {
              content: "";
              background: var(--current-section);
              border-radius: 5px;
              height: 28px;
              width: calc(100% + 20px);
              position: absolute;
              top: 0;
              left: -10px;
            }
          }

          &:hover {
            color: var(--contrast-font-color);
          }
        }
      }
    }
  }
}
