.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--bg-color);
  width: 100vw;
  box-shadow: var(--navbar-box-shadow-color) 0px 2px 4px;
  height: 65px;
}
.nav > ul {
  padding: 3px 10px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.nav > ul > li {
  text-align: center;
  float: left;
  font-style: none;
  padding: 10px;
  z-index: 10;
}
.nav > ul > li a {
  display: flex;
  font-size: 19px;
}
